<mat-toolbar>
  <button mat-icon-button class="example-icon" (click)="sidenav.toggle()"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Interview App</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-wrapper">
  <mat-sidenav #sidenav mode="push">
    <nav>
      <ul class="py-3 px-5">
        <li *ngFor="let n of navItems">
          <div routerLinkActive="active" [routerLink]="n.path" [routerLinkActiveOptions]="{exact:true}" class="rounded-5 list-div" matRipple (click)="sidenav.toggle()">
              {{n.menuItem}}
          </div>
        </li>
      </ul>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content class="container-flex">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>