<mat-toolbar>
  <button mat-icon-button class="example-icon" (click)="sidenav.toggle()"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Interview App</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-wrapper">
  <mat-sidenav #sidenav mode="push">
    <mat-nav-list class="px-5">
      <mat-list-item *ngFor="let n of navItems" [routerLink]="n.path" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="text-center" (click)="sidenav.toggle()">
        {{n.menuItem}}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="container-flex">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>